body {
    margin: 0;
    background-color: var(--bg);
    font-family: 'Lexend Deca', sans-serif;
    color: var(--text);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: #131a22;
        --text: #fff;
        --secondary-text: rgb(185, 185, 185);
        --secondary-bg: #2f3542;
        --footer: #131111;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: #ECECEC;
        --text: #000;
        --secondary-text: #6B6B6B;
        --secondary-bg: #F0F0F0;
        --footer: #eaeaea;
    }

    .invert {
        filter: invert(1);
    }
}


button {
    font-family: 'Lexend Deca', sans-serif;
}

.itemButton:hover {
    opacity: .8;
}

.addMue:hover {
    opacity: .8;
}

i {
    cursor: default;
}

.banner {
    position: sticky;
    top: 0;
    left: 0;
    width: calc(100% - 30px);
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background: #FBBEBE;
    padding: 15px;
    align-items: center;
}

.addMue {
    border: none;
    outline: none;
    background: #000000;
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    border-radius: 12px;
    text-decoration: none;
}

.content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    min-height: 100vh;
}

.itemSide {
    display: flex;
    gap: 25px;
    flex-flow: column;
    background: var(--secondary-bg);
    padding: 15px;
    width: 300px;
}

.itemButton {
    background: #FBBEBE;
    outline: none;
    border: none;
    font-size: 18px;
    padding: 15px;
    border-radius: 9px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.itemImg {
    border-radius: 12px;
}

.itemLeft {
    padding: 50px;
    display: flex;
    flex-flow: column;
    gap: 10px;
    max-width: 50vw;
}

.title {
    font-size: 72px;
}

.subtitle {
    font-size: 24px;
    color: var(--secondary-text);
}

.itemLeft img {
    margin-top: 15px;
    width: 750px;
    height: auto;
}

.description {
    margin-top: 15px;
    font-size: 35px;
}

.itemInfo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-shadow: 0 0 0 1px rgba(94, 94, 94, 0.329);
    padding: 10px;
    border-radius: 12px;
    gap: 10px;
}

.item {
    display: flex;
    flex-flow: row;
    flex: 1 0 31%;
    align-items: center;
    gap: 20px;
}

.item div {
    display: flex;
    flex-flow: column;
}

.type {
    font-size: 16px;
    color: var(--secondary-text);
}

.value {
    font-size: 18px;
}

footer {
    background: var(--footer);
    align-items: baseline;
    color: var(--text);
    flex-wrap: wrap;
    padding: 40px;
    display: flex;
    justify-content: center;
}

.footerContent {
    width: 1280px;
    display: flex;
    justify-content: space-between;
}

footer a {
    color: var(--secondary-text);
    text-decoration: none;
}

footer h2 {
    font-size: 1.17em;
}

footer>div {
    height: 66%;
}

footer ul {
    list-style-type: none;
}

footer ul li:not(:last-child) {
    margin-bottom: 5px;
}

footer ul li a {
    overflow: hidden;
    text-decoration: none;
    position: relative;
    padding: 0.2em 0;
}

footer ul li a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #000;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
}

footer ul li a::after {
    height: 0.15em;
    transform: scale(0);
    transform-origin: center;
}

footer ul li a:hover::after {
    opacity: 1;
    transform: scale(1);
}

footer ul li a:focus:after {
    opacity: 1;
    transform: scale(1);
}

.social a:hover::after {
    opacity: 0 !important;
}

.social a:focus::after {
    opacity: 0 !important;
}

footer>div>ul>li {
    font-size: 1.3em;
}

@media (max-width: 800px) {
    footer {
        flex-direction: column;
    }
}

.top>img,
.top>span {
    vertical-align: middle;
    font-size: 60px;
}

.top svg,
.top img {
    height: 50px;
    width: auto;
    vertical-align: middle;
    padding-right: 10px;
}

span.sub {
    font-size: 20px;
    display: block;
}

span.min {
    font-size: 14px;
    display: block;
    color: var(--secondary-text);
}

ul.social li:nth-child(2) {
    display: flex;
    gap: 5px;
}

ul.social li:nth-child(2) .circle {
    cursor: pointer;
}

ul.social li:nth-child(2) .circle svg:hover {
    opacity: 1;
}

.circle {
    background: linear-gradient(180deg, rgba(255, 70, 110, .36), rgba(255, 92, 39, .38));
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle i {
    font-style: normal;
    cursor: pointer;
}

footer a:hover {
    color: var(---text);
}
